[Desktop Entry]
Comment[en_US]=Launch Neovim in tmux inside Kitty
Comment=Launch Neovim in tmux inside Kitty
Exec=kitty --start-as maximized -e /home/nfxii/.config/nvim/script/launch-nvim.sh
GenericName[en_US]=lazyvim
GenericName=lazyvim
Icon=nvim
MimeType=
Name[en_US]=Lazy Vim
Name=Lazy Vim
Path=
PrefersNonDefaultGPU=false
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-SubstituteUID=false
X-KDE-Username=
